<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Ce projet n'utilise pas Bootstrap. Il faut éviter Bootstrap dans les projets Angular -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="ListArtist.component.css">
  <title>TP2</title>
</head>

<body>
  
  <main>
    <div class="row">
      <div class="search">
        <h3>Ajouter un artiste</h3>
      
          <input type="text" [(ngModel)]="artistName" class="form-control" placeholder="Nom d'un artiste">
          <button (click)="getArtist()" class="btn btn-light">Rechercher</button>
      
      </div>
      <div class="display">
        <h3>Vos artistes</h3>
        <div *ngIf="artist != undefined" class="row">

          <!-- Liste d'artistes ajoutés aux favoris -->
          <div>
            <h4>{{ artist.name }}</h4>
            <img [src]="artist.imageUrl" alt="artist.name">
            <button>Albums</button><button>Concerts</button>
          </div>
          

        </div>
      </div>
    </div>
  </main>

</body>

</html>