<body>

  <main>
    <div class="row">
      <div class="search">
        <h3>{{ 'ADD_ARTIST' | translate }}</h3>

        <input type="text" [(ngModel)]="artistName" class="form-control" placeholder="{{ 'SEARCH' | translate }}">
        <button (click)="getArtist()" class="btn btn-light">{{ 'SEARCH' | translate }}</button>

      </div>
      <div class="display">
        <h3>{{ 'YOUR_ARTISTS' | translate }}</h3>
        <div class="row">
          <!-- Liste d'artistes ajoutés aux favoris -->
          <div *ngFor="let artist of artists">
            <h4>{{ artist.name }}</h4>
            <img [src]="artist.imageUrl" alt="{{ artist.name }}">
            <button (click)="goToAlbums(artist.id)">{{ 'ALBUMS' | translate }}</button>
            <button (click)="goToConcerts(artist.name)">{{ 'CONCERTS' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </main>

</body>