<header>
  <div class="row">
    <nav class="row">
      <div [routerLink]="['/artiste']">{{ 'ARTISTE' | translate }}</div>
      <div [routerLink]="['/album']">{{ 'ALBUMS' | translate }}</div>
      <div [routerLink]="['/song']">{{ 'SONGS' | translate }}</div>
      <div [routerLink]="['/show']">{{ 'CONCERTS' | translate }}</div>
    </nav>
    <div class="spacer"></div>
    <div>
      <select name="language" id="language" (change)="changeLanguage($event)">
        <option value="fr">Français</option>
        <option value="en">English</option>
      </select>
    </div>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <div>
    &copy; {{ 'COPYRIGHT' | translate }}
  </div>
</footer>