<body>

  <main>
    <div class="row">
      <div class="albums">
        <h3>{{ 'ALBUMS_OF' | translate: { artistName: artistName } }}</h3>
        <div class="row">

          <!-- Liste d'albums d'un artiste choisi -->
          <div *ngFor="let album of albums">
            <h4>{{ album.name }}</h4>
            <img [src]="album.imageUrl" alt="{{ album.name }}">
            <button (click)="goToSongs(album.id)">{{ 'SONGS' | translate }}</button>
          </div>

        </div>
      </div>
    </div>
  </main>

</body>